/* .container {
    width: 90%;
    margin: auto;
    padding: 2rem 0;
}
.container h1 {
    text-align: center;
    margin: 2rem 0;
}
.row {
    display: flex !important;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 50% !important;
    margin: auto;
    margin: 2rem auto;
}
.row p {
    line-height: 2;
    color: #0A0A0A;
    font-size: 16px;
    opacity: 0.65;
    text-align: center;
    margin-bottom: 2rem;
}
.row h6 {
    font-size: 16px;
    color: #21212B;
    margin-bottom: 0.5rem;
}
.row span {
    color: #8c8c8c;
}
@media only screen and (max-width:600px) {
    .hero {
        background-image: url("/hero.png");
        background-repeat: no-repeat;
        background-size:cover ;
        height: 10rem;
    }
    .container img {
        width: 200px;
    }
    .container h1 {
        font-size: 32px;
    }
    .row {
        display: flex !important;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100% !important;
        margin: auto;
        margin: 2rem auto;
    }
    .row p {
        line-height: 2;
        color: #0A0A0A;
        font-size: 16px;
        opacity: 0.65;
        text-align: center;
        margin-bottom: 2rem;
    }
} */

.slick-list {
  flex: 1 0 80% !important;
  width: 100% !important;

  @media (max-width: 768px) {
    flex: 1 0 100% !important;
    width: 100% !important;
  }
}

.speech-tail {
  clip-path: inset(0.5px -10px -10px -10px);
}

.slick-track {
  display: flex;
  width: 100% !important;
}

.slick-track .slick-slide {
  height: auto;
  display: flex;
}

.slick-track .slick-slide > div {
  display: flex;
}

.tech-background {
  background-image: url("/background.png");
  background-repeat: repeat;
}

.dots-class {
  grid-area: "dots";
  display: flex !important;

  @media (max-width: 768px) {
    display: none !important;
  }
}

.paging-dots {
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dots-class li {
  background-color: #d1f1ff;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.dots-class .slick-active {
  background-color: #00adee !important;
}

.title-class {
}

.slide-class {
}

.left-arrow-class {
}

.right-arrow-class {
}

.slider-class {
}
